<div class="container">

	<div class="row justify-content-center">
		<div class="col-6">
			<article class="card-body mx-auto">
				<h4 class="card-title mt-3 text-center">Crear Proyecto</h4>
				<form action="/crearproyecto" method="POST">
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-user"></i> </span>
						</div>
						<input name="nombre_proyecto" class="form-control" placeholder="Nombre del proyecto"
							type="text">
					</div> <!-- form-group// -->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
						</div>
						<textarea name="descripcion" class="form-control" placeholder="Descripcion del proyecto" rows="4" cols="50"></textarea>
					</div> <!-- form-group// -->
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block"> Crear Proyecto </button>
					</div> <!-- form-group// -->
				</form>
				{{#if errors}}
				{{# each errors }}
				<div class="col-9 alert alert-danger" role="alert">{{ this.msg }}</div>
				{{/each}}
				{{/if}}
				{{#if message}}
				<div class="col-6 alert alert-primary" role="alert">
					{{ message }}
				</div>
				{{/if}}
			</article>
		</div>
	</div>
	<!-- card.// -->

</div>
<!--container end.//-->