<div class="container">

	<div class="row justify-content-center">
		<div class="col-6">
			<article class="card-body mx-auto">
				<h4 class="card-title mt-3 text-center">Crear Oferta</h4>
				<form action="/crearoferta" method="POST">
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-user"></i> </span>
						</div>
						<input name="nombre_oferta" class="form-control" placeholder="Full name" type="text">
					</div> <!-- form-group// -->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
						</div>
						<input name="descripcion" class="form-control" placeholder="Descripcion de la oferta" size="60"
							type="text">
					</div> <!-- form-group// --><select name="role" class="form-control">
						<option value="Fotografo">Fotografo</option>
						<option value="Diseniador">Diseñador</option>
						<option value="Publicista">Publicista</option>
						<option value="Programador">Programador</option>
					</select>
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-user"></i> </span>
						</div>
						<input name="experiencia" class="form-control" placeholder="Experiencia" type="text">
					</div> <!-- form-group// -->
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-user"></i> </span>
						</div>
						<input name="sueldo" class="form-control" placeholder="Sueldo" type="text">
					</div> <!-- form-group// -->
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block"> Crear Oferta </button>
					</div> <!-- form-group// -->
				</form>
				{{#if errors}}
				{{# each errors }}
				<div class="col-9 alert alert-danger" role="alert">{{ this.msg }}</div>
				{{/each}}
				{{/if}}
				{{#if message}}
				<div class="col-6 alert alert-primary" role="alert">
					{{ message }}
				</div>
				{{/if}}
			</article>
		</div>
	</div>
	<!-- card.// -->

</div>
<!--container end.//-->